@font-face {
    font-family: "Stag Web";
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Stag-Medium-Web.eot");
    src: url("/fonts/Stag-Medium-Web.eot?#iefix") format("embedded-opentype"), url("/fonts/Stag-Medium-Web.woff") format("woff"), url("/fonts/Stag-Medium-Web.ttf") format("truetype"), url("/fonts/Stag-Medium-Web.svg#Stag Web") format("svg")
}

h1,h2,h3,h4,h5,h6{
  font-family: "Stag Web";
}
